*{
  padding: 0px;
  margin:0px;
  align-items: center;
  justify-content: center;
  line-height: 2em;
}

body{
  font-family: 'Raleway', sans-serif;
  background-color: rgb(246,246,246);
}

a{
  text-decoration: none;
  color: #6D8183;
}

a:hover{
  color:#54B59C;
}
.ul{
  color: gray;
}
li{
    list-style: none;
    color: gray;
}

h3{
  font-size: 12px;
  font-weight: lighter;
  text-align: center;
}
.box-shadow{
  box-shadow: 5px 5px 5px #d3d3d3;
}

.primaryColor{
  color: white;
}

.secondaryColor{
  color: pink;
}

.tertiaryColor{
  color: yellow;
}


/*header mobile*/
.imgNav{
  /*background-image: url(../img/collage.jpg);*/
  background-color: rgb(253,236,79);
  background-size: cover;
  color: black;
  font-weight: bold;
  height: 100px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

.navIndex{
  width: 100%;
  position: fixed;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  font-weight: bold;
  height: 100px;
  padding-bottom: 20px;
  display: flex;
  justify-content: flex-end;
}

nav ul a li {
  margin: 8px;
  color: black;
  font-size: 20px;
}

.itemHomeNav{
  margin: 10px;
  color: white;
  font-size: 30px;
}
.itemHomeNav:hover{
  margin: 10px;
  color: black;
  font-size: 30px;
}
.itemHomeNavIndex {
  color: gray;
  font-size: 30px;
}
.itemHomeNavIndex:hover {
  color: black;
}
.logoEscandia{
  width: 50px;
  margin: 2px;
}

.containerItemsNavbarIndex ul{
  width: 100%;
  display: flex;
  background-color: white;
  margin: 5px;
}

.containerItemsNavbar ul{
  width: 100%;
  display: flex;
  background-color: white;
}
.effectMenuItems {
  transition: 0.4s;
  padding: 0 1px;
  margin: 0 3px;
}
.effectMenuItems:hover {
  background-color: rgb(244,194,219);
  color: white;
  padding: 5px 5px;
}
.containerItemsNavbar ul li{
  font-size: 11px;
  font-weight: lighter;
}
.containerItemsNavbarIndex ul li{
  font-size: 12.5px;
  font-weight: lighter;
}
.containerItemsNavbarIndex ul li:hover{
  color: gray;
}
.containerItemsNavbar ul li:hover{
  color: white;
}
.fadeInDown {
  animation-name: fadeInDown;
}
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}


@media (min-width: 825px){
  nav{
    display: flex;
    padding-bottom: 10px;
  }
  .containerItemsNavbar ul li{
    margin-left: 40px;
    padding-right: 40px;
    font-size: 35px;
    font-weight: bold;
  }

  .itemHomeNav{
    margin: 10px;
    color: white;
    font-size: 60px;
  }
  .itemHomeNav:hover{
      margin: 10px;
      color: black;
      font-size: 60px;
  }
  .itemHomeNavIndex{
    margin: 10px;
    color: gray;
    font-size: 50px;
  }
  .containerItemsNavbarIndex ul li{
    font-size: 30px;
    font-weight: bold;
  }
  .containerItemsNavbarIndex ul li:hover{
    color: gray;
  }
  .navIndex{
    background-color: rgba(255, 255, 255, 0.5);
  }
}


/*Hero slide*/


.heroContent{
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 0px;
}
.heroSize{
  width: 100%;
}

.titleName{
  width: 100%;
  align-items: center;
  position: absolute;
  font-size: 65px;
  color: white;
  z-index: 1;
  text-align: center;
}
.titleName2{
  width: 100%;
  align-items: center;
  position: absolute;
  font-size: 67px;
  color: gray;
  text-align: center;
}

.buttonHeroSection{
  justify-content: space-around;
}
.buttonHero{
  background-color: black;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.animateFading{
  animation:fading 10s infinite
  }
@keyframes fading{
  0%{opacity:0}
  50%{opacity:1}
  100%{opacity:0}
  }


/*div slideBar mobile*/

.slideBar{
  flex-direction: row;
  text-align: center;
  /*margin-bottom: 100px;*/
}
.subContainerslideBar{
  display: flex;
}
.subContainerslideBar img, .subContainerslideBar h2{
  margin: 10px;
}
.iconArrow{
  width: 50px;
  height: 50px;
}

@media (min-width: 825px){
  .titleFirstPage{
    font-size: 50px;
    margin-top: 10px;
  }
  .subContainerslideBar img, .subContainerslideBar h2{
    margin: 15px;
  }
  .iconArrow{
    width: 70px;
    height: 70px;
  }
}

/*index*/

.titlesIndex{
  display: flex;
  text-align: center;
}
.titleIndex1{
  background-color: pink;
  width: 50%;
  margin:15px;
  padding: 10px;
  border-radius: 5px;
}
.titleIndex2{
  background-color: pink;
  width: 50%;
  margin:15px;
  padding: 10px;
  border-radius: 5px;
}

.titleIndex3{
  background-color: yellow;
  text-align: center;
  margin: 15px;
  padding: 10px;
}

.buttonIndexAbout{
  background-color: pink;
  font-size: 16px;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: pink;
}

.titleIndex4{
  text-align: center;
}

.titleIndex5{
  text-align: center;
  margin: 15px;
  padding: 10px;
}

.slideSizeIndex{
  width: 100%;

  border-radius: 40px;
}
.containerSlidesIndex{
  width: 100%;
  position: relative;
  justify-content: center;
}

.arrowSlideIndex{
  display: flex;
  position: absolute;
  bottom: 20px;
}

.aboutBox{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}

.subAboutBoxIndex{
  width: 60%;
  background-color: pink;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  margin:20px;
  padding: 10px;
}


@media (min-width: 825px){
  .containerSlidesIndex{
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
  }
  .slideSizeIndex{
    width: 50%;
  }
}


/*About*/

.aboutMe{
  text-align: center;
  margin: 15px;
}

.aboutMeContent{
  display: flex;
  justify-content: center;
  text-align: center;
  width: 98%;
  background-color: rgb(244,194,219);
  padding: 10px;
}

.me{
  text-align: center;
}

.photo{
  width: 200px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  margin: 5px;
}

.projects{
  text-align: center;
}
.projectContent{
  margin: 10px;
}
.projectPicture{
  width: 100%;
}

.vanish:hover {
  opacity: 0.30;
  -webkit-transition: opacity 500ms;
  -moz-transition: opacity 500ms;
  -o-transition: opacity 500ms;
  -ms-transition: opacity 500ms;
  transition: opacity border-radius 500ms;
  border-radius: 10px;
}
.containerArticles{
  margin: 30px;
}

.articleItem{
  margin: 10px;
  text-align: center;
}
.subContainerAarticles{
  flex-direction: column;
}
.imgarticle{
  width: 100%;
}

.aboutPara2{
  font-size: 18px;
  font-weight: bold;
}



@media (min-width: 825px){
  .projects{
    display: flex;
  }
  .containerArticles{
    display: flex;
  }
}



/*page4 Contact mobile*/

.socialNetworks{
  margin: 10px;
}

.socialNetworks ul{
  display: flex;
}

.socialNetworks h3{
  display: flex;
  flex-direction: row;
}

@media (min-width: 825px){

}


/*Projects*/

.containerProjects{
  width: 100%;
}
.projectImgSize{
  width: 60%;
}
.containerProjectText{
  margin: 20px;
  text-align: left;
}
.projectsKubideImg{
  width: 100%;
  display: flex;
  justify-content: center;
}






/*footer*/

footer{
  width: 100%;
  background-image: url(../img/window.jpg);
  background-color: rgb(244,194,219);
  background-size: cover;
  height: 100%;
  color: white;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.titleTextFooter{
  text-align: center;
}

footer img{
  width: 50px;
}

.containerBoxesSN{
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 100%;
}

.boxTwitter, .boxLinkedin, .boxGithub{
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 10px;
  padding-top: 10px;
}

.inputFooterEmail{
  color: blue;
  font-family: 'Raleway', sans-serif;
  padding-left: 7px;
  padding-right: 5px;
}

.buttonFooterEmail{
  font-family: 'Raleway', sans-serif;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  font-weight: bold;
  border-color: rgba(0, 0, 0, 0);
  padding-left: 10px;
  padding-right: 10px;
}

.buttonFooterEmail:hover{
  background-color: rgba(0, 0, 0, 0.7);;
  color: white;
  border-color: black;
  border-radius: 3px;
  border-radius: 3px;
  border-color: black;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Raleway', sans-serif;
}

footer p{
  font-size: 12px;
}

@media (min-width: 825px){
  .containerBoxesSN{
    display: flex;
  }
  .boxTwitter, .boxLinkedin, .boxGithub{
    padding-left: 10px;
      padding-right: 30px;
    padding-top: 10px;
  }
}
